.login-h1 {
  color:#5b98be;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.login-demo,
.login-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.login-user label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;

}

.login-user input {
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.2rem;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

.login-button {
  background-color: #5b98be;
  border: none;
  color: white;
  font-weight: 800;
  border-radius: 30px;
  min-width: fit-content;
  height: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0c8bf4;
}


.login-demo button {
  background-color: #5b98be;
  border: none;
  color: white;
  font-weight: 800;
  border-radius: 30px;
  min-width: fit-content;
  height: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.login-demo button:hover {
  background-color: #0c8bf4;
}



.login-container ul {
  color: #f00;
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: left;
}

.login-container ul li {
  list-style: none;
  margin-bottom: 10px;
}