.Navigation-holder{
  flex:0.3;
  margin-top: 20px;
  padding-left: 20px;
  padding-right:20px;
  justify-content: space-around;
  border-right:1px solid rgb(201, 199, 190);
  align-items: center;
  color:black
}
.fa-brands.fa-twitter{
  color: #57b6f1 !important
  
}


.Feeder-holder {
  flex:0.4;
  border-right:1px solid rgb(201, 199, 190);

}

.RightBar-holder {
  flex:0.3
}


.Navigation-holder > div {
  margin:20px
}
.hidden {
  display: none;
}


 .profile-button button{
    border:none
 }

 .profile-button li{
  list-style: none;
}



.logout:hover{
  background-color: #a4c9e8
}

