.tweetBody{
    padding-bottom: 10px;
    border-bottom: 10px solid rgb(234, 224, 224)
}
.tweetBody>img{
    margin-left:10px;
    margin-top:20px
}
input {
    padding:20px !important;
    width:50%;
    flex:1 !important;
    margin-left: 20px !important;
    border:none !important;
    background-color:#f4f4f4 !important;
}

.tweet-post{
    background-color: #5b98be;
    border:none;
    color: white;
    font-weight: 800;
    border-radius: 30px;
    width: 60px;
    height:30px;
    margin-top:20px;
    margin-right:auto;


}
.post-body-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left:auto ;
    margin-right:auto ;

}


.post-body{
    padding-bottom: 10px;
    padding-left:10px;
    padding-right:10px
}

.link-details{
    text-decoration: none;
    color: inherit;
}


.modal {
    display: flex;
    align-items: center;
    width: 500px;
    height: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #fff;
    border-radius: 12px;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 16px;
  }

  .EditBody input {
    border: none;
    font-size: 18px;
    width: 100%;
    margin-bottom: 16px;
    outline: none;
  }
  

.tweet-post {
    align-self: flex-end
}

.tweet-post:hover {
    background-color: #0c8bf4;
  }

